.contenido_cod{
    width: 100%;
    /*height: 2150px;*/
    /* background-image: linear-gradient(120deg,
    rgba(0, 0, 0, 0.7) 30%,
    rgba(253, 0, 232, 0.7) ), url(../images/incluion.jpg);
     */
    background-image: linear-gradient(120deg,
    rgba(0, 0, 0, 0.87) 30%,
    rgba(17, 17, 17, 0.918) ), url(../images/inclusion.jpg);
    
    
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: thistle;
}

ul,li{
    color: white;
}
